=@user.name
%ul
  - @user.missions.each_with_index do |mission, i|
    %li
      = "#{(i + 1).ordinalize} Missão"
      = "Suspeito #{mission.suspect.name}"
      = "Sexo #{mission.suspect.gender}"
      = image_tag(mission.suspect.photo_url)

