%li{:id => ['mission', mission.id]}
  = link_to mission_path(mission) do
    =image_tag(mission.headline.photo_path, :class => 'mission_photo')
  %div.mission_suspect
    = link_to mission_path(mission) do
      =image_tag(mission.suspect.photo_url, :class => 'suspect_photo')
  %div.mission_details
    %h3= link_to mission.headline.name, mission_path(mission)
    %div.mission_status= mission.status
    %div.mission_rank
      = link_to ranks_path do
        %strong Rank:
        = mission.rank.name
        = mission.rank.stars
