- if mission.won?
  %div.mission_result#won
    %h3= "#{mission.suspect.name} foi preso!"
    %div.mission_xp
      %div
        %strong Pontos Ganhos:
        = mission.xp
      %div
        %strong Total de Pontos:
        = user.xp
      %div= "Faltam #{user.xp_for_next_rank} pontos para você passar para o Ranking #{user.next_rank.name}"
- else
  %div.mission_result#lost
    - if mission.progress.elapsed?
      %h3= "#{mission.suspect.name} não foi preso, você não conseguiu capturá-lo a tempo!"
    - else
      %h3= "#{mission.suspect.name} não foi preso, você conseguiu capturá-lo, mas não coletou pistas suficientes sobre ele!"
- unless @messages.any?
  %div.share
    :markdown
      ###Compartilhe esse resultado para seus amigos e ganhe mais *50 pontos*
    =link_to 'Compartilhar', mission_messages_path(mission), :method => :post, :class => 'button'
