%div.mission_rank
  = link_to mission_path(@mission) do
    %strong Ranking:
    = @mission.rank.name
    = @mission.rank.stars
=image_tag('potato.png', :class => 'mission_photo')
%div.mission_suspect
  =image_tag(@mission.suspect.photo_url, :class => 'suspect_photo')
  %strong= @mission.suspect.alias
%div.mission_details
  %h2=@mission.name
  = simple_format(@mission.description)
  - unless @mission.finished?
    %div.mission_hours
      = "Você precisa concluir essa missão em até #{@mission.hours} horas."
      - unless @mission.new_mission?
        = "Tempo restante: #{@mission.progress.remaining_hours} horas."
    %div.mission_status= @mission.status
- if @mission.finished?
  %div.mission_result
    = render 'result', :mission => @mission, :user => @user
- else
  %div.mission_start
    - if @mission.new_mission?
      = link_to 'Iniciar Missão >>', mission_track_path(@mission, @mission.first_track), :class => 'button'
    - else
      = link_to 'Continuar Missão >>', mission_track_path(@mission, @mission.current_track), :class => 'button'
