!!!
%html
  %head
    %title Project Sandiego
    = stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Vast+Shadow|Special+Elite'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:class => "#{@body_class}", :id => "#{@body_id}"}
    %header#main
      %h1 Project Sandiego
      %nav
        =link_to 'Casos', missions_path, is_controller_active?(['missions', 'tracks', 'networks', 'traits'])
        =link_to 'Ranking', ranks_path, is_controller_active?("ranks")
        =link_to 'Regras', rules_path, is_controller_active?("rules")
        =link_to 'Sobre', about_path, is_controller_active?("about")
    %div#wrapper
      = render 'shared/mission_header'
      = render 'shared/flash_messages'
      = yield
      = render 'shared/mission_navigation'
      = render 'shared/mission_audio'
