!!!
%html
  %head
    %title Project Sandiego
    = stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Vast+Shadow|Special+Elite'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:class => "#{@body_class}", :id => "#{@body_id}"}
    %header#main
      %h1 Project Sandiego
      %nav
        =link_to 'Casos', missions_path
        =link_to 'Ranking', ranks_path
        =link_to 'Regras', rules_path
        =link_to 'Sobre', about_path
    %header#mission_header
      %h2="Caso: #{@headline.name}"
      %div.mission_time= "Faltam #{@progress.remaining_hours} horas"
      - if @track
        %h3= link_to_unless_current @track.city.full_name, mission_track_path(@mission, @track)
    = render :partial => 'shared/flash_messages'
    = yield
    %nav#mission_navigation
      = link_to 'Dados da Missão', mission_path(@mission), :id => 'mission_info'
      = link_to 'Investigar cidade', mission_track_path(@mission, @track), :id => 'mission_locations'
      = link_to 'Mudar de cidade', mission_tracks_path(@mission), :id => 'mission_cities'
      = link_to 'Pistas coletadas', mission_traits_path(@mission), :remote => true, :id => 'mission_traits'
